aiohttp==3.12.15
altair==5.5.0
bitsandbytes==0.47.0
Brotli==1.1.0
cmake==4.1.0
dill==0.4.0
flash-attn @ file:///C:/Users/nobody/gits/stable-audio-tools/flash_attn-2.8.0.post2%2Bcu129torch2.8.0cxx11abiTRUE-cp311-cp311-win_amd64.whl#sha256=cde617d0d8530cd5b70ac9b8cdf0640cd0df1117abda1f36ea5e5fda1b13567a
pipdeptree==2.28.0
pytorch_optimizer==3.1.2
stable-audio-tools @ file:///C:/Users/nobody/gits/stable-audio-tools
torchdata==0.11.0
typing-inspection==0.4.1
wheel==0.45.1
